.crew-members-block img.crew-members-image {
    width: 48px;
    height: 48px;
    max-width: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.crew-members-block li a {
    padding: 4px 12px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
}

.crew-members-block li a {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

.crew-members-block li.active a {
    background-color: #315996;
    color: #fff;
}

.crew-members-block li.active:hover a {
    background-color: #284C7F;
    color: #fff;
}

.crew-members-block tbody tr {
    height: 60px !important;
}

.crew-members-block thead,
.crew-members-block tbody tr {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
}

.crew-members-block tbody {
    height: calc(100vh - 24rem) !important;
    overflow: auto !important;
    display: block !important;
    overflow-x: hidden !important;
    margin-top: 5px;
}

.table-mobile-view {
    height: calc(100vh - 19rem) !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.crew-members-block table th,
.crew-members-block table td {
    font-size: 14px;
    line-height: 20px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
    word-wrap: break-word;
}
.crew-members-block table td {
    font-weight: 600;
}
.crew-members-block table th {
    border-bottom: 1px solid #315996;
    vertical-align: top;
    text-align: center;
}

.crew-members-block table td {
    vertical-align: middle;
    text-transform: capitalize;
    text-align: center;
}

.coach td{
    background-color: rgba(87, 137, 211, 0.2) !important;
}

img.coach{
    border: 2px solid #315996;
    padding: 1px;
}

.crew-members-block table tbody tr {
    border-bottom: 2px solid #818285;
}

.crew-members-block table th:nth-child(1),
.crew-members-block table td:nth-child(1) {
    width: 6%;
}

.crew-members-block table td:nth-child(7) {
    text-transform: initial;
}

.crew-members-block table td span {
    padding: 4px 20px;
    border-radius: 4px;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

.crew-members-block .badge {
    color: #fff !important;
    text-transform: uppercase;
    padding: 0.3rem 0.8rem;
    width: auto !important;
}

.crew-members-block .badge.active {
    background-color: #3cbd9f;
}

.crew-members-block .badge.default {
    background-color: #b7b7b7;
}

.crew-members-block table tbody tr:last-child {
    border-bottom: 0px solid transparent;
}

.crew-members-block .single-grid {
    border-top: 1px solid #315996;
    background-color: rgba(87, 137, 211, 0.2) !important;
    padding: 12px;
    margin-bottom: 12px;
}

.crew-members-block .single-grid .title,
.crew-members-block .single-grid .value {
    font-style: normal;
    font-size: 14px;
    line-height: 16.34px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    margin: 0;
    word-break: break-word;
}

.table-mobile-view {
    display: none;
}
.feedback-image{
    float: right;
}

.w-45{
    width: 45%;
}

@media screen and (min-width: 350px) and (max-width: 990px) {
    .crew-members-block .table-desktop-view {
        display: none;
    }

    .crew-members-block .table-mobile-view {
        display: block;
    }
}