.top-navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
}

.top-navbar h1 {
    font-style: normal;
    font-size: 48px;
    color: #3cbd9f;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin: 0;
}

.top-navbar h2 {
    font-style: normal;
    font-size: 20px;
    color: #315996;
    font-weight: normal;
    font-family: 'Open Sans';
    margin: 0;
}

.top-navbar h1 span {
    color: #315996;
}

.hamburger {
    outline: none;
    border: 0;
    background: transparent;
    text-align: end;
}
.profile{
    min-width: 50px;
}
.profile img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profile .dropdown-menu li a {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #315996;
    font-weight: normal;
    font-family: 'Open Sans';
    padding: 0.5rem;
}

.profile .dropdown-menu li:hover a {
    background-color: #3cbd9f;
    color: #fff;
    border-radius: 5px;
}

@media screen and (min-width: 350px) and (max-width: 748px) {
    .top-navbar h1 {
        font-size: 18px;
    }
    .top-navbar h2{
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) and (max-width: 989px) {
    .top-navbar {
        position: relative;
    }

    .top-navbar h1 {
        position: absolute;
        top: 68px;
        left: 0rem;
        right: 0rem;
    }
    .top-navbar h2{
        position: absolute;
        top: 92px;
        left: 0rem;
        right: 0rem;
    }
    .profile img {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 350px) and (max-width: 990px) and (orientation: landscape) {
    .top-navbar h1 {
        top: 45px;
    }
    .top-navbar h2 {
        top: 65px;
    }
}

@media screen and (min-width: 748px) and (max-width: 989px) {
    .top-navbar h1 {
        font-size: 22px;
        top: 42px;
    }
    .top-navbar h2{
        top: 72px; font-size: 14px;
    }
}

@media screen and (min-width: 989px) and (max-width: 1200px) {
    .top-navbar h1 {
        font-size: 26px;
    }
}