.side-navbar .mainlevel-menu li a span {
    display: block;
    width: 100%;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans';
    padding: 0 0 0 5px;
    text-transform: capitalize;
}
.side-navbar .mainlevel-menu li a:hover span{
    background-color: #3CBD9F;
    border-radius: 5px;
}
.side-navbar .mainlevel-menu li a:hover span.active {
    color: #fff;
}
.side-navbar .mainlevel-menu li a span.active {
    color: #3cbd9f;
}