.main-content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: auto auto auto; */
    gap: 20px;
}

/* 
.info-block {
    grid-column: 1/ 2;
}

.notification-block {
    grid-column: 2/ 3;
}

.recently-added-content-block {
    grid-column: 1/ 2;
}

.crew-member-block {
    grid-column: 2/ 3;
}

.general-resource-block {
    grid-column: 2/ 3;
}

.resources-block {
    grid-column: 2/ 3;
} */

.blog-image {
    background-color: #f0f0f0;
    padding: 24px;
    margin-bottom: 24px;
}

h3.main-heading {
    font-style: normal;
    font-size: 20px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 8px;
}

.blog-image-content p {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #315996;
    font-weight: normal;
    font-family: 'Open Sans';
    margin-bottom: 0;
}

.rightimage {
    width: 48px;
    height: 48px;
    max-width: 100%;
}

/* .info-block,
.notification-block {
    min-height: 316px;
} */

.notificationList {
    height: 12.4rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.crewmemberList {
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.notificationList p,
.notificationList a {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #315996;
    font-weight: normal;
    font-family: 'Open Sans';
    margin-bottom: 0;
    letter-spacing: -0.2px;
}

.crewmemberList .crewmembersImage {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
}

.crewmemberList p {
    font-style: normal;
    font-size: 14px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-bottom: 0;
    width: 100%;
    margin-left: 8px;
}

.general-resource-block ul li a,
.resources-block ul li a {
    font-style: normal;
    font-size: 14px;
    color: #315996;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
    line-height: 20px;
    /* display: inline-block;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.recently-added-content-block .filter-chips li {
    padding: 4px 12px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
}

.recently-added-content-block .filter-chips li,
.recently-added-content-block .filter-chips li a {
    font-style: normal;
    font-size: 14px;
    line-height: 16.34px;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

.recently-added-content-block li:focus {
    border: 1px solid #5789D3;
    background-color: #5789D3 !important;
}

.recently-added-content-block li.inactive {
    background-color: #B7B7B7;
    border: 1px solid #5789D3;
}

.recently-added-content-block li.videos {
    background-color: #ebb542;
}

.recently-added-content-block li.videos:hover {
    background-color: #DCA93C;
}

.recently-added-content-block li.webinars {
    background-color: #3CBD9F;
}

.recently-added-content-block li.webinars:hover {
    background-color: #34A389;
}

.recently-added-content-block li.podcasts {
    background-color: #CF2037;
}

.recently-added-content-block li.podcasts:hover {
    background-color: #C11A30;
}

.recently-added-content-block li.articles {
    background-color: #315996;
}

.recently-added-content-block li.articles:hover {
    background-color: #284C7F;
}

.recently-added-content-block .form-select {
    border: 1px solid #f0f0f0 !important;
}

.recently-added-content-block .form-select:focus {
    box-shadow: none;
}

.recently-added-content-block select,
.recently-added-content-block option {
    font-style: normal;
    font-size: 12px;
    line-height: 13.62px;
    color: #000;
    font-weight: normal;
    font-family: 'Open Sans';
}

.recently-content-added-scroll {
    height: calc(100vh - 16rem);
    overflow-y: auto;
}

.recently-content-added-lists {
    gap: 12px;
    margin-right: 18px;
    column-count: 2;
}

.recently-content-added-single-item {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.recently-content-added-single-item p {
    font-style: normal;
    font-size: 14px;
    color: #315996;
    font-weight: normal;
    font-family: 'Open Sans';
    margin-bottom: 4px;
}

.recently-content-added-single-item p.designation {
    font-size: 14px;
}

.recently-content-added-single-item p.author-name {
    color: #818285;
}

.recently-content-added-single-item a {
    font-style: normal;
    font-size: 14px;
    color: #315996 !important;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-bottom: 4px;
    display: block;
    line-height: 20px;
}


@media(min-width: 1024px) {
    .blog-image-content {
        display: grid;
        grid-template-columns: 1.35fr 1fr;
        gap: 24px;
    }

    .blogimage {
        order: 1;
        text-align: end;
    }
    .blogimage img {
        width: 16.4rem;
    }
}

@media screen and (min-width: 350px) and (max-width: 748px) {
    .main-content-grid {
        grid-template-columns: 1fr;
    }

    .recently-added-content-block li.articles {
        margin-top: 12px;
    }
    .recently-content-added-lists{
        column-count: 1;
    }
    /* .info-block,
    .notification-block,
    .recently-added-content-block,
    .crew-member-block,
    .general-resource-block,
    .resources-block {
        grid-column: 1 / span 1;
    }

    .recently-added-content-block {
        order: 1;
    }

    .footerLaunchPadImage {
        order: 2;
    } */

    .recently-content-added-lists {
        grid-template-columns: 1fr;
    }

    .recently-added-content-block .filter-chips li {
        padding: 4px 8px;
    }
}

@media screen and (min-width: 748px) and (max-width: 820px) {
    .main-content-grid {
        grid-template-columns: 1.4fr 1fr;
    }
    /* .info-block {
        grid-column: 1/ 2;
    }
    
    .notification-block {
        grid-column: 2/ 3;
    }
    
    .recently-added-content-block {
        grid-column: 1/ 2;
    }
    
    .crew-member-block {
        grid-column: 2/ 3;
    }
    
    .general-resource-block {
        grid-column: 2/ 3;
    }
    
    .resources-block {
        grid-column: 2/ 3;
    }
    .recently-added-content-block {
        order: 0;
    }

    .footerLaunchPadImage {
        order: 2;
    } */
}

@media only screen and (width: 1366px) and (height: 1024px) {
    .recently-content-added-scroll {
        height: calc(100vh - 16rem);
        overflow-y: auto;
    }
}